.tanChuang{
    background-color: rgba(0, 0, 0, 0.473);
    position: fixed;
    width: 7.5rem;
    height: 7.5rem;
    padding-top: 2.5rem;
    top: 30%;
    left: 30%;
    display: none;
    color: white;
    text-align: center;
  }